.order-list-container {
    margin: 40px 30px;
}

.order-list__filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.order-list__label {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}

.order-list__select {
    font-size: 1.3rem;
    padding: 8px;
    margin-left: 25px;
    border-radius: 10px;
}

.order-list__filter-button {
    padding: 10px 15px;
    margin-left: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--orange-color);
    color: #FFF;
    border: none;
    border-radius: 8px;
}

.order-list__filter-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.order-list__heading {
    display: flex;
    width: 100%;
}

.order-list__heading p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}

.order__item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.order__item:hover {
    background-color: var(--background-gray-color);
    cursor: pointer;
}

.order__product-info {
    width: 35%;
    display: flex;
    align-items: center;
}

.order__product-img {
    width: 100px;
    max-height: 200px;
}

.order__product-name {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 8px;
}

.order__count {
    width: 15%;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
}

.order__date {
    width: 15%;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
    font-style: italic;
}

.order__price {
    width: 15%;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--red-color);
    text-align: center;
}

.order__status {
    width: 20%;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
}

.order__remain {
    width: 15%;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
    opacity: 0.8;
    margin-bottom: 0;
}

.order-detail__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.order-detail__top-text {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.order-detail__review-button {
    font-size: 1.4rem;
    color: #FFF;
    background-color: var(--blue-color);
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin-right: 5px;
    margin-left: auto;
}

.order-detail__review-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.order-detail__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.order-detail__botleft {
    margin-left: 30px;
    width: 40%;
    background-color: var(--blue-color);
    border-radius: 24px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
    padding: 20px 0;
}

.order-detail__botleft-title {
    color: #FFF;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 15px;
}

.order-detail__botleft-text {
    font-size: 1.4rem;
    color: #FFF;
    margin: 25px 15px;
    line-height: 25px;
}

.order-detail__botright {
    margin-right: 30px;
    width: 40%;
    display: flex;
    height: 280px;
    flex-direction: column;
    justify-content: space-between;
}

.order-detail__botright-money {
    font-size: 1.7rem;
    color: var(--red-color);
    font-weight: 500;
    text-align: right;
}

.order-detail__botright-status {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    text-align: right;
}

.order-detail__botright-button {
    font-size: 1.4rem;
    color: #FFF;
    background-color: var(--orange-color);
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    margin-right: 0;
    margin-left: auto;
}

.order-detail__botright-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.review-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
}

.review__container {
    background-color: #FFF;
    width: 500px;
    height: 400px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: modalFadeIn ease .5s;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after{
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji-wrapper:after{
  bottom: 0;
  background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji > svg {
  margin: 15px 0; 
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
#rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
#rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
#rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
#rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }

.feedback {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.review__content {
    font-size: 1.4rem;
    padding: 10px;
    resize: none;
    border-radius: 12px;
}

.review__button {
    width: 70px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #FFF;
    background-color: var(--blue-color);
    border: none;
    border-radius: 12px;
    padding: 10px;
    margin: 15px 10px 10px;
}

.review__button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.open-modal {
    display: flex;
}

.order-detail__comfirm-buttons {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    margin-left: auto;
}

.order-detail__botright-button-comfirm {
    font-size: 1.4rem;
    color: #FFF;
    background-color: #06CE0E;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    margin-right: 10px;
}

.order-detail__botright-button-comfirm:hover {
    opacity: 0.9;
    cursor: pointer;
}