.profile-block {
    padding-bottom: 80px;
    margin-bottom: 60px;
}

.profile__container {
    width: 700px;
    max-width: 70%;
    height: 600px;
    background-color: var(--blue-color);
    margin: 10px auto 0px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__avatar {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    margin-top: 20px;
}

.profile__username {
    color: white;
}

.profile__line-infor {
    display: flex;
    align-items: center;
}

.profile__line-label {
    color: #FFF;
    width: 100px;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: right;
    margin-right: 14px;
}

.profile__line-content {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    min-width: 250px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #FFF;
    border-radius: 12px;
}

.profile__edit-icon {
    color: #FFF;
    padding: 5px;
    font-size: 1.5rem;
    margin-left: 9px;
    width: 100px;
}

.profile__edit-icon:hover {
    cursor: pointer;
    color: var(--orange-color)
}

.profile__button {
    width: 250px;
    height: 45px;
    margin: 8px 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: #FFF;
    border-radius: 12px;
    border: none;
}

.profile__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.profile__button__change-pass {
    background-color: #17A600;
}

.profile__button__logout {
    background-color: var(--red-color);
}

.change-password-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
}

.change-info-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
}

.change-gender-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
}


.change-password__container {
    background-color: #FFF;
    width: 400px;
    height: 400px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: modalFadeIn ease .5s;
}

.change-info__container {
    background-color: #FFF;
    width: 400px;
    height: 280px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: modalFadeIn ease .5s;
}

.change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-password__avatar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: 20px;
}

.change-password__input {
    width: 250px;
    height: 40px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 1.3rem;
    padding-left: 10px;
}

.change-password__button {
    margin: 0 10px;
    padding: 0 30px;
    height: 40px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #FFF;
    border: none;
    border-radius: 10px;
    background-color: var(--red-color);
}

.change-password__button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.open-modal {
    display: flex;
}