.register-container {
    position: relative;
}

.register-background {
    width: 100%;
    max-height: 100vh;
    min-height: 600px;
}

.register-card {
    position: absolute;
    width: 550px;
    height: 580px;
    background-color: #FFF;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    border-radius: 24px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.login-card {
    position: absolute;
    width: 550px;
    height: 380px;
    background-color: #FFF;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    border-radius: 24px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.register-title {
    font-size: 2.2rem;
    text-align: center;
    color: var(--text-color);
    margin-top: 30px;
}

.register-logo {
    margin: 10px 0 0 10px;
    position: absolute;
    width: 90px;
}

.register-field-container {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-field-container {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.register-text-input {
    width: 350px;
    height: 40px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 1.3rem;
    padding-left: 10px;
}

.tel-wrapper {
    width: 350px;
}

.gender-label {
    font-weight: 500;
    font-size: 1.4rem;
    margin-left: 3px;
    margin-right: 10px;
    color: var(--text-color);
}

.gender-radio {
    transform: translateY(2px);
    cursor: pointer;
    width: 15px;
    height: 15px;
    padding: 4px;
}

.policy-wrapper {
    
}

.policy-label {
    font-size: 1.3rem;
    display: inline;
    margin-left: 5px;
}

.register-button {
    width: 350px;
    height: 45px;
    margin-top: 18px;
    background-color: var(--blue-color);
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    border-radius: 12px;
}

.register-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.login-button {
    width: 350px;
    height: 45px;
    margin-top: 10px;
    background-color: var(--blue-color);
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    border-radius: 12px;
}

.login-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.login-now {
    color: var(--red-color);
    font-weight: 500;
    text-decoration: none;
}

.login-now:hover {
    cursor: pointer;
    text-decoration: underline;
}

.forgot-password-link {
    text-decoration: none;
    padding: 15px 150px 0;
    font-size: 1.3rem;
    color: #0B5EFF;
    font-weight: 500;
}