.products__container {
    display: flex;
}

.products__title {
    font-size: 1.8rem;
    color: var(--text-color);
    text-align: center;
    padding: 50px 0;
}

.products__filter {
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.products__list {
    width: 75%;
}

.product__filter__name {
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: center;
    margin-top: 0;
}

.products__filter-zone {
    color: var(--text-color);
    margin: 20px;
    margin-top: 30px;
}

.products__filter-title {
     border-bottom: 1px solid rgba(0, 0, 0, 0.4);
     line-height: 35px;
}

.products__fiter-form {
    font-size: 1.3rem;
    line-height: 35px;
    font-weight: 500;
}

.products__fiter-form input {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    transform: translateY(2px);
    cursor: pointer;
}

.products__price-filter {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding-left: 5px;
    margin: 10px 0;
}

.products__price-filter-apply {
    width: 242px !important;
    height: 35px !important;
    background-color: var(--blue-color);
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    color: #FFF;
    font-weight: 500;
}

.products__filter-vote-item {
    margin-top: 10px;
    height: 30px;
    cursor: pointer;
}

.products__filter-vote-img {
    height: 30px;
    vertical-align: middle;
    transform: translateY(-3px);
}

.products__filter-vote-item span {
    font-size: 1.4rem;
    font-weight: 500;
    vertical-align: middle;
}

.products__sort {
    margin-left: 15px;
    display: flex;
    align-items: flex-start;
}

.products__sort h2 {
    font-size: 1.7rem;
    margin-top: 0;
    font-weight: 500;
    color: var(--text-color);
}

.products__sort-button {
    transform: translateY(-7px);
    height: 35px;
    background-color: #FFF;
    color: var(--text-color);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 0 15px;
    margin: 0 15px;
    font-weight: 500;
    cursor: pointer;
}

.products__sort-selected {
    background-color: var(--blue-color);
    color: #FFF;
    border: none;
}

.products__sort-button option {
    font-size: 1.4rem;
    font-weight: 500;
}

.paging {
    margin: 30px auto;
}

.paging__trans {
    background-color: var(--blue-color);
    color: #FFF;
    height: 35px;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    padding: 0 10px;
    cursor: pointer;
    margin: 0 8px;
}

.paging__page-number {
    width: 35px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    background-color: #FFF;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 10px;
}

.paging__page-number:hover {
    cursor: pointer;
}

.paging__current {
    background-color: var(--blue-color);
    color: #FFF;
    border: none;
}

.paging p {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.8);
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

.products__add-button {
    font-size: 1.4rem;
    font-weight: 500;
    color: #FFF;
    background-color: var(--blue-color);
    border: none;
    border-radius: 8px;
    padding: 12px 15px;
    margin-left: auto;
    margin-right: 25px;
    transform: translateY(-10px);
}

.products__add-button:hover {
    cursor: pointer;
    opacity: 0.9;
}